@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body {
  font-family: "Montserrat", sans-serif !important;
}

::selection {
  background-color: #233aad;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
  box-shadow: inset 0 0 3px var(--gray-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #233aad;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5a6ed3;
}

.bg-second-dark {
  background-color: #2e3236;
}

.bg-second-dark2 {
  background-color: #393c40;
}

.bg-head-gradient {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #233aad 0%,
    #ae2aa5 46%,
    #c5850e 100%
  );
}

.income-text {
  color: rgb(13, 199, 13);
}

.expense-text {
  color: rgb(255, 80, 61);
}

.income-plus {
  border-right: 10px solid rgb(13, 199, 13);
}

.expense-minus {
  border-right: 10px solid rgb(255, 80, 61);
}

.row-container {
  min-height: 80vh;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer {
  background-image: linear-gradient(
    110.1deg,
    rgba(30, 2, 83, 1) 44.2%,
    rgba(198, 55, 160, 1) 138.2%
  );
  position: sticky;
  bottom: 0;
}

.footer a {
  text-decoration: none;
  color: wheat;
  transition: 0.4s;
}

.footer a:hover {
  letter-spacing: 2px;
  text-decoration: underline;
  color: white;
}

ul#transaction-ul li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #212529;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

ul#transaction-ul p {
  margin: 0;
  text-align: right;
  font-weight: bold;
  padding: 0 5px 0 0;
}

ul#transaction-ul li:hover {
  background-color: rgb(240, 240, 240);
}
.modal-body a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.modal-body a:hover {
  color: #5a6ed3 !important;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: underline;
}

#howit {
  position: fixed;
  right: 5px;
  z-index: 999;
}

.info-btn {
  background: transparent;
  border: 0;
  background-color: #ae2aa5;
  border-radius: 50%;
  color: wheat;
  transition: 0.3s;
}

.info-btn:hover {
  background-color: #c5850e;
  color: #212529;
}

/* Keyframes start */

.float-ani {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  50% {
    margin-right: 5px;
    transform: scale(1.4);
  }
}
